/* BODY / GENERAL */


body {
    font-family: 'Raleway', sans-serif;
}
h1 {
    font-weight: bold;
    margin-bottom: 0;
    font-size: 1.7em;
}
h3 {
    font-size: 1.2em;
}

a {
    text-decoration: none;
}


 /* HEADER */


#titre_principal {
    display: flex;
    justify-content: space-between;
}
#titre_principal img{
    margin-left: 30px;
    margin-top : 20px;
    width: 120px;
}
#menu {
    display: flex;
}
#topMenu {
    display: flex;
}
#inscription {
    padding-top: 50px;
    margin-right: 30px;
    color: #0065FC;
    font-size: 1.2em;
}
#inscription :hover {
    border-radius: 3px;
    background-color: #DEEBFF;
}
.container p {
    margin-top: 5px; 
    font-size: 1.3em;
}
ul {
    list-style-type: none;
    display: flex;
}
nav ul li {
    margin-right: 50px;
    color: black;
    font-size: 1.2em;
    padding-top: 35px;
}
nav ul li a:visited {
    color: black;
}
nav ul li:hover {
    border-top: 3px #0065FC solid;
   padding-top: 35px;
}
nav ul li a:focus{
   border-top: 3px #0065FC solid;
   padding-top: 35px;
   color: #0065FC;
}
#inscription a:visited {
    color: #0065FC;
}


/* SECTION 1 */

.container{
    margin-left: 30px;
}
form {
    margin-bottom: 30px;
}
form button {
    display: none;
}
#localisation {
    height: 50px;
    width: 300px;
    margin-right: 0;
    padding-right: 0;
    border: 1px solid #F2F2F2;
    border-right: transparent;
    border-left: transparent;
    outline: transparent;
    font-size: 1.2em;
}
#localisation::placeholder {
    color: black;
    padding: 15px;
    font-size: 1.2em;
}
.btn {
    background-color:  #0065FC;
    color: white;
    height: 50px;
    width: 140px;
    margin-left: 0;
    padding-left: 0;
    border: transparent;
    border-radius: 0 15px 15px 0;
    font-size: 1.2em;
}
.gps {
    padding: 13px 20px;
    border:  solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}
#filtres {
    display: flex;
    flex-wrap: wrap;
}
#filtres h3 {
    margin-right: 30px;
}
.mesFiltres {
    display: flex;
    margin-right: 40px;
    margin-top: auto;
    margin-bottom: auto;
    border: 2px solid #F2F2F2;
    border-radius: 35px;
}
.mesFiltres i{
   font-size: x-large;
   margin: auto;
   border: 1px solid transparent;
   padding: 18px;
   border-radius: 35px;
   color: #0065FC;
   background-color: #DEEBFF;
}
.mesFiltres .fa-child {
    padding-left: 20px;
    padding-right: 20px;
}
.mesFiltres p {
    font-weight: bold;
    padding: 11px 25px 11px 15px;
    margin : auto;
    font-size: 1.3em;
}
.mesFiltres:hover {
    background-color: #DEEBFF;
    color: #0065FC;
}
#info {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
}
#info p {
    font-size: 1.1em;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
#info i {
    color: #0065FC;
    font-size: medium;
    border: 2px solid #F2F2F2;
    padding: 5px 10px;
    border-radius: 30px;
    margin-top: auto;
    margin-bottom: auto;
}


/* SECTION 2 */


.containerHebPop {
    margin-bottom: 70px;
    display: flex;
    justify-content: space-around;
}
.containerHeb {
    width: 60%;
    border: 2px solid transparent;
    border-radius: 15px;
    padding: 20px;
    background-color: #F2F2F2;
}
.containerHebPop a , .containerHebPop a:visited {
    color: black;
}
.etoile {
    margin: 7px;
    color: #0065FC;
    font-size: medium;
}
#hebergements {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.containerHeb h2 {
    margin-left: 30px;
    font-size: 1.6em;
}
.containerHeb span a{
    margin-left: 25px;
    font-weight: bold;
}
.vignettesHeb {
    width: 300px;
    border: 6px solid white;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 15px;
}
.vignettesHeb img {
    width : 300px;
    height: 150px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.vignettesHeb a h3 {
    margin: 7px 0 0 7px;
}
.vignettesHeb a p {
    font-size: 1em;
    margin: 7px 0 0 7px;
}
.vignettesHeb:hover {
    box-shadow: 5px 5px 5px 5px black;
}

.containerPop {
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 15px; 
}
#populaires{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.vignettesPop {
    width: 400px;
    height: 150px;
    border: 6px solid white;
    border-radius: 15px;
    background-color: white;
    margin-bottom: 40px;
}
.vignettesPop img {
    width: 150px;
    height: 150px;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}
.vignettesPop a {
    display: flex;
}
.vignettesPop:hover {
    box-shadow: 5px 5px 5px 5px black;
}
#titrePop {
    display: flex;
    justify-content: space-between;
}
#titrePop h2{
    margin: 40px;
    font-size: 1.6em;
}
#titrePop i{
    margin: 40px;
    font-size: 1.3em;
}
.textePop {
    margin-left: 25px;
    margin-right: 25px;
}
.textePop .etoile {
    margin: 0;
}
.textePop h3 {
    margin-bottom: 0;
}
.textePop p {
    margin-top: 7px;
    margin-bottom: 30px;
}


/* SECTION 3 */


#titreAct {
    margin-left: 35px;
}
.containerAct {
    display: flex;
    margin-bottom: 70px;
    flex-wrap: wrap;
    justify-content: center;
}
#gauche {
    display: flex;
    width: auto;
}
#droite {
    display: flex;
    width: auto;
}
.containerAct h3 {
    margin-left: 20px;
    color: black;
}
.vignettesAct {
    box-shadow: 6px 6px 6px #F2F2F2;
    border:  1px solid #F2F2F2;
    border-radius: 21px;
    width: 380px;
    margin: 30px 20px 50px 30px;
}
.vignettesAct img {
    width: 380px;
}
.vignettesAct:hover {
    box-shadow: 5px 5px 5px 5px black;
}
#imageSimpleGauche {
    height: 570px;
}
#imageSimpleGauche img {
    height: 500px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
#hautGauche {
    height: 300px;
}
#hautGauche img {
    height: 230px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
#basGauche {
    height: 220px;
}
#basGauche img {
    height: 150px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
#imageSimpleDroite {
    height: 570px;
}
#imageSimpleDroite img {
    height: 500px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
#hautDroite {
    height: 260px;
}
#hautDroite img {
    height: 190px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
#basDroite {
    height: 260px;
}
#basDroite img {
    height: 190px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}


/* FOOTER */


footer {
    background-color: #F2F2F2;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 30px 0 30px 0;
}
footer a {
    color: black;
    margin-bottom: 7px;
}
#aPropos {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 400px;
}
#nosHebergements {
    display: flex;
    flex-direction: column;
    margin-right: 400px;
}
#assistance {
    display: flex;
    flex-direction: column;
}




/* MEDIA QUERIES */



@media all and (max-width : 480px)
{
    /* GENERAL */


    body { 
        width: 100%;
        margin: 0;
    }
    h1{
        padding-top: 25px;
        font-size: 1.5em;
        margin-bottom: 12px;
    }
    h3 {
        font-size: 1em;
    }

    /* HEADER */

   #titre_principal img {
       position: absolute;
       top: 15px;
       left: 0;
       width: auto;
   }
   #topMenu {
       flex-direction: column-reverse;
       width: 100%;
   }
   #inscription {
       align-self: flex-end;
       font-size: 1em;
   }
   nav ul {
       margin: auto;
       padding-left: 0;
       width: 100%;
       
   }
   nav ul li {
       display: inline-flex;
       margin-right: 0;
       justify-content: space-around;
       padding-bottom: 10px;
       border-bottom: 3px solid #F2F2F2;
       width: 187px;
       font-size: 1em;
   }
   nav ul li:nth-child(1){
       padding-left: 15px;
   }
   
   nav ul li:hover {
        border-bottom: 3px #0065FC solid;
        border-top: none;
        padding-bottom: 10px;
        color: #0065FC;
   }
   
    

    /* SECTION 1 */

   .container {
       margin-left: 20px;
   }
   .container p {
       font-size: 0.9em;
   }
    form {
        margin: 30px auto;
        width: auto;
    }
    form .btn {
        display: none;
    }
    form button {
        display: inline-block;
        background-color:  #0065FC;
        color: white;
        height: 50px;
        width: 50px;
        border: transparent;
        border-radius: 15px 15px 15px 15px;
        font-size: 1.2em;
    }
    #filtres h3 {
        width: 100%;
    }
    .mesFiltres {
        margin-right: 10px;
        margin-left: 0;
        margin-bottom: 20px;
        width: auto;
    }
    .mesFiltres i{
        font-size: medium;
        margin: auto;
        border: 1px solid transparent;
        padding: 13px;
        border-radius: 23px;
        color: #0065FC;
        background-color: #DEEBFF;
     }
     .mesFiltres .fa-child {
        padding-left: 15px;
        padding-right: 15px;
    }
    .mesFiltres p {
        padding: 10px;
        font-size: 0.9em;
    }
    #localisation {
        width: 190px;
    }
    #localisation::placeholder {
        font-size: 0.8em;
    }
    #info p {
        font-size: 0.9em;
    }
    /* SECTION 2 */

    .containerHebPop {
        width: auto;
        margin: auto;
        flex-direction: column-reverse;
    }
    .containerHeb {
        width: auto;
        margin: auto;
        background-color: white;
    }
    .containerPop {
        width: auto;
        margin: auto;
        border-radius: 0;
        border: 0;
    }
    .containerPop #titrePop h2 {
        margin-left: 20px;
        font-size: 1.3em
    }
    .containerHeb h2 {
        margin-left: 0 ;
        font-size: 1.3em
    }
    .containerHeb span a {
        margin: 20px 0 30px 0;
        font-size: 1.2em;
    }
    .vignettesHeb {
        width: 100%;
        height: 190px;
        box-shadow: 6px 6px 6px 6px #F2F2F2;
        margin: auto auto 15px auto;
    }
    .vignettesHeb .etoile {
        font-size: small;
    }
    .vignettesHeb img {
        width: 100%;
        height: 110px;
    }
    .vignettesHeb a p {
        font-size: 0.9em;
    }
    .vignettesPop {
        width: 90%;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .vignettesPop img {
        width: 40%;
    }
    .vignettesPop p {
        font-size: 0.9em;
    }
    .vignettesPop .etoile {
        padding-top: 20px;
        font-size: small;
    }

    /* SECTION 3 */ 


    .containerAct{
        flex-direction: column;
        margin-bottom: 30px;
    }
    #gauche {
        flex-direction: column;
        align-content: center;
        width:auto;
        margin-right: 0;
        margin-left: 0;
    }
    
    #droite {
        flex-direction: column;
        align-content: center;
        width: auto;
        margin-right: 0;
        margin-left: 0;
    }
    .vignettesAct {
        width: 90%;
        height: 200px !important;
        margin: auto auto 20px auto;
        
    }
    .vignettesAct img {
        width: 100%;
        height: 70% !important;
    }

    /* FOOTER */


    footer {
        flex-direction: column;
    }
    #aPropos {
        width: 80%;
        margin-right: 0;
    }
    #nosHebergements {
        margin-left: 30px;
        margin-right: 0;
        width: 60%;
    }
    #assistance {
        margin-left: 30px;
    }
}

/* VERSION TABLETTE */


@media all and (min-width: 481px) and (max-width: 1024px)
{
    body { 
        width: auto ;
    }
    h1 {
        margin-top: 35px;
    }
    /* HEADER */


    #titre_principal img {
        position: absolute;
        top: 15px;
        left: 1px;
        width: auto;
    }
    #topMenu {
        flex-direction: column-reverse;
        width: 100%;
    }
    #inscription {
        align-self: flex-end;
    }
    nav ul {
        margin: auto;
        padding-left: 0;
        width: 100%;
        
    }
    nav ul li {
        display: inline-flex;
        margin: auto;
        justify-content: space-around;
        padding-bottom: 10px;
        border-bottom: 3px solid #F2F2F2;
        width: 187px;
    }
    nav ul li:nth-child(1){
        padding-left: 15px;
    }
    
    nav ul li:hover {
         border-bottom: 3px #0065FC solid;
         border-top: none;
         padding-bottom: 10px;
         color: #0065FC;
    }
    /* SECTION 1 */
    
    form {
        margin-top: 30px;
    }
    form .btn {
        display: none;
    }
    form button {
        display: inline-block;
        background-color:  #0065FC;
        color: white;
        height: 50px;
        width: 50px;
        border: transparent;
        border-radius: 15px 15px 15px 15px;
        font-size: 1.2em;
    }
    .mesFiltres {
        margin-bottom: 20px;
    }
    /* SECTION 2 */ 

    .containerHebPop {
        width: auto;
        margin: auto;
        flex-direction: column-reverse;
    }
    .containerHeb {
        width: auto;
    }
    .containerPop {
        width: auto;
        margin-bottom: 30px;
    }
    #populaires {
        width: auto;
        display: flex;
    }
    .vignettesPop {
        width: 75%;
    }
    .vignettesPop img {
        width: 40%;
    }
    .vignettesHeb {
        width: 75%;
    }
    .vignettesHeb img {
        width: 100%;
    }


    /*  SECTION 3 */

    .containerAct{
        width: auto;
        flex-direction: column;
        margin-bottom: 30px;
        
    }
    #gauche {
        width: 100%;
        margin: auto auto 30px auto;
        justify-content: center;
        flex-wrap: wrap;
    }
    #droite {
        width: auto;
        justify-content: center;
        margin: auto;
        flex-wrap: wrap;
    }
    .vignettesAct {
        width: 350px;
        margin: 0px 10px 50px 10px;
    }
    .vignettesAct img {
        width: 350px;
    }


    /* FOOTER */


    footer {
        width: auto ;
    }
    #aPropos {
        margin-right: auto;
    }
    #nosHebergements {
        margin-right: auto;
    }

}

/* VERSION PETIT ECRAN */ 


@media all and (min-width: 1025px) and (max-width: 1600px)
{
    /* SECTION 1 */


    .mesFiltres {
        margin-bottom: 20px;
    }


    /* SECTION 2 */ 

    .vignettesPop {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }
    .containerPop {
        width: 39%;
    }
    .containerHeb {
        width: 51%;
    }
}
@media all and (min-width: 1600px) and (max-width: 1763px)
{
    /* SECTION 3 */

    .vignettesAct {
        width: 310px;
        margin: 0px 20px 50px 20px;
    }
    .vignettesAct img {
        width: 310px;
    }
}

    


    


   



 
   
 

